@mixin input_highlighter{
    @keyframes inputHighlighter {
        from {
            background:$teal;
        }
        to {
            width:0;
            background:transparent;
        }
    }
}
