// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~jquery-ui/themes/base/all.css';

@import 'utils/variable';
@import 'utils/mixin';
@import 'pages/login';
@import 'layouts/header';
@import 'components/search-input';
@import 'components/login-form';
@import 'components/writing';
@import "base/base";
@import "components/lightbox";
@import "pages/journal";
@import "components/drapNdrop";
@import "components/search";
@import "layouts/navbar";


/* variables */
$text-sm: 13px;
$text-lg: 18px;
$eye-size: 15px;
$input-image-width: 200px;
$input-image-height: 200px;

.text-sm{
    font-size: $text-sm;
}

.text-lg{
    font-size: $text-lg;
}

.voir-plus{
    width: $eye-size;
    height: $eye-size;
}

.drop-zone{
    max-width: $input-image-width;
    height: $input-image-height;
    font-family: Arial, Helvetica, sans-serif;
    color: #ccc;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    border: 4px dashed #009578;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.drop-zone--over {
    border-style: solid;
}

.drop-zone__input {
    display: none;
}

.drop-zone__thumb{
    background-color: gray;
    background-size: cover;
    height: 190px;
    width: 195px;
}

.drop-zone__thumb::after {
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #fff;
    background: rgba($color: #000000, $alpha: 0.75);
}

/* select input design */
.custom-select {
    position: relative;
    font-family: Arial;
  }

  .custom-select select {
    display: none; /*hide original SELECT element: */
  }

  .select-selected {
    background-color: #8e9795;
  }

  /* Style the arrow inside the select element: */
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }

  /* Point the arrow upwards when the select box is open (active): */
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }

  /* style the items (options), including the selected item: */
  .select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
  }

  /* Style items (options): */
  .select-items {
    position: absolute;
    background-color: #8e9795;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }

  /* Hide the items when the select box is closed: */
  .select-hide {
    display: none;
  }

  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }
