* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "MontSerrat", sans-serif;
    height: 100%;
}

.main{
    min-height: 100%;
}

.main::after {
    content: '';
    display: block;
    height: 100px; // height + padding
}


.title{
    color: $teal;
}

.btn{

    background-color: $teal !important;
    color: $color-light;
    padding: 5px;
}

.btn-secondary{

    background-color: $color-light;
    border-color: $teal;
    color: $teal;
}

input:focus{
    outline: none;
}

