@font-face {
    font-family: "MontSerrat";
    src: url("../../fonts/Montserrat/static/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "Alfa Slab One";
    src: url("../../fonts/AlfaSlabOne-Regular.ttf");
}

body{
    font-family: "MontSerrat", sans-serif;
    height: 100%;
}

.main{
    min-height: 100%;
}

.main::after {
    content: '';
    display: block;
    height: 100px; // height + padding
}


.title{
    font-family: "Alfa Slab One";
    color: $color-primary;
}

.btn{

    background-color: $color-primary !important;
    color: $color-light;
    padding: 5px;
}

.btn-secondary{

    background-color: $color-light;
    border-color: $color-primary;
    color: $color-primary;
}




input:focus{
    outline: none;
}
